html {
	background-color: #fff;
}

body {
	margin: 0;
	padding: : 0;
	font-family: Arial, Helvetica, sans-seriff;
	font-size:  12px;
	line-height: 1.5em;
	color: #333333;
	width: 100%;
	display: table; 
}

a {
	color: #333;	
}

a:hover {
	color: #666;
}

.logo{
	width: 385px;
	height: 55px;
	float: left;
}

.search{
	width: 320px;
	height: 70px;
	float: right;
}

.area_de_contenido{
	margin-top: 30px;
	margin-bottom: 10px;
}

.wrapper {
	margin: auto;
	width: 950px;
}

.left_section{
	width: 410px;
	float: left;
}

.middle_section{
	width: 180px;
	float: left;
	margin-left: 15px;
}

.right_section{
	width: 322px;
	float:right;
	margin-right: 10px;
}

.cleaner{	
	clear: both;
}

.cleaner_with_height{
	clear: both;
}

.right_section_box {
	margin: 0 0 15px 0;
	padding: 10px;
	border: 1px solid #ccc;
}

.right_section_box h1 {
	color: #c60;
	font-size: 15px;
	margin-bottom: 0 0 8px 0;
	padding: 0;
	text-decoration: underline;
}

.right_section_box h2 {
	color: #333;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.right_section_box h2 a {
	text-decoration: none;

}

.right_section_box h2 a:hover{
	text-decoration: underline;
}

.right_section_box p {
	color: #333;
	text-align : justify;
	font-size: 11px;
	margin-bottom: 0 0 20px 0;
	padding: 0;
}

.last p {
	margin: 0;
}

.galeria {
	margin-left: 5px;	
}

.galeria img{
	margin: 5px 5px 0 0;
}

.anuncio {
	margin: 5px 0 5px 0;
}