#animated-menu ul{
	width: 950px;
	margin: 0;
	padding: 0;
}

#animated-menu li{
	width: 121px;
	height: 34px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

#animated-menu li>ul>li {
	text-align: left;
	margin-left: 35px;
	float: none;
}

#animated-menu a{
	color: #8A4500;
	text-decoration:none;
}

#animated-menu a:hover{
	color: #fff;
}

#animated-menu p{
	padding: 0px 5px;
}

	.subtext{
		padding-top: 15px;
	}

/*Menu Color Classes*/
.green{background:#cc6601 top left no-repeat;}

#animated-menu {
	position: absolute;
	margin: 121px auto 0 auto;
}